/*Sub Menu*/
.third-menu{border-bottom:1px solid #dadbdd;position:sticky;top:0;background:#fff;z-index:99}.border-top{border-top:1px solid #eaebec!important}.third-menu ul{list-style:none;display:flex;margin:0}.third-menu .left ul li{margin:0 20px 0 0;position:relative}.third-menu .left ul li.selected a{color:#222325;cursor:default}.third-menu .left ul li a{font-size:13px;line-height:53px;color:#95979d}.third-menu .left ul li.selected:after{content:"";position:absolute;left:0;height:4px;width:100%;background:#2cdd9b;bottom:-1px}.third-menu .right ul li button{height:30px;border:1px solid #c5c6c9;border-radius:3px;box-shadow:0 2px 3px rgb(0 0 0 / 10%);padding:0 10px 0 8px;font-size:13px}.third-menu .right ul li:last-child i{color:#2cdd9b}.third-menu .right ul li button i{color:#b5b6ba}@media (max-width:1024px){.third-menu{display:none}}
.favourite-count{font-size:13px;line-height:28px;color:#222325;padding:0 10px;margin-left:13px;position:relative;display:inline-block;border:1px solid #dadbdd;border-radius:3px;-webkit-box-sizing:border-box;box-sizing:border-box}.favourite-count::before{z-index:2;border-width:8px 9px 8px 0;border-color:transparent #dadbdd transparent transparent;top:6px;left:-9px;content:"";position:absolute;border-style:solid}.favourite-count::after{z-index:3;border-width:6px 8px 6px 0;border-color:transparent #fff transparent transparent;top:8px;left:-8px;content:"";position:absolute;border-style:solid}
/*Gallary slider*/
.main-page .left .mainslider{margin:0 0 40px}.slick-slider{position:relative;display:block;box-sizing:border-box;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;margin:0;-webkit-tap-highlight-color:transparent;padding:0}.slick-slider-single .slick-arrow.slick-prev{left:11px}.slick-slider-single .slick-arrow.slick-next{right:12px}.slick-arrow{top:0;bottom:0;background-color:#fff;position:absolute;z-index:4;width:40px;height:40px;font-size:0;margin:auto;text-align:center;-webkit-box-shadow:0 2px 5px 0 rgb(0 0 0 / 15%);box-shadow:0 2px 5px 0rgba(0,0,0,.15);border:0;border-radius:50%;outline:0!important;transform:translateY(0)}.slick-next:before,.slick-prev:before{color:#333}.slick-next:hover:before,.slick-prev:hover:before{color:#fff}
#aniimated-thumbnials .slick-list.draggable img{border-radius: 4px;max-height: 458px;text-align: center;margin: 0 auto;}
.slider-nav .item-slick img{width:170px;border-radius:4px;margin:0 6px 0 0}
/*FAQ*/
.main-page .accordion {box-shadow: none;}
.main-page .accordion-header {background: transparent;color: #555;font-weight: 600;box-shadow: none;border-bottom: 1px solid #dadbdd;}
/*Right Panel*/
.main-page .right .sticky {top: 86px;position: sticky;}
.contact-seller-wrapper,.main-page .right .tab-content{box-shadow:0 1px 2px rgb(0 0 0 / 20%);background-color:#fff;padding:25px}.main-page .right .tabs-header ul{width:100%}.main-page .right .tab-content{border-radius:4px}.main-page .right .tab-content h3{display:flex;justify-content:space-between;min-height:48px}.main-page .right .tab-content h3 b{font-size:16px}.main-page .right .tab-content h3 span{font-size:20px}.main-page .right .tab-content p{word-break:break-word;font-size:14px;line-height:140%;margin-top:10px;margin-bottom:40px}
.main-page .right .tab-content .delivery{font-size:14px;margin-bottom:10px;display:flex;align-items:center}.main-page .right .tab-content .delivery i{font-size:16px;padding-right:8px}.main-page .right .tab-content .features{list-style:none;margin:0 0 20px}.main-page .right .tab-content .features li.included{color:#62646a}.main-page .right .tab-content .features li{font-size:14px;font-weight:400;color:#74767e}.main-page .right .tab-content .features li.included i{color:#2cdd9b}.main-page .right .tab-content .features li i{padding-right:12px;color:#dadbdd}
.contact-seller-wrapper a{padding:12px 24px;font-weight:600;font-size:16px;line-height:100%;text-decoration:none;text-align:center;cursor:pointer;width:100%;display:inline-block}
.contact-seller-wrapper{border-radius:4px;text-align:center;margin-top:16px}
.contact-seller-wrapper a{border:1px solid #74767e;border-radius:4px;color:#62646a;transition:.6s}
.contact-seller-wrapper a:hover {
    background: #74767e;
    color: #fff;
    transition: .6s;
}
.main-page .tab-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-right: 24px;
    padding-left: 24px;
}
@media only screen and (min-width: 900px){
    .main-page .btn-compare-packages {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}
.main-page .btn-compare-packages {
    background: transparent;
    color: #1dbf73;
    padding-top: 12px;
    border: 0;
    max-width: 100%;
    width: 100%;
    text-align: center;
}

h1.post-title{padding-bottom:16px;overflow-wrap:break-word;word-wrap:break-word;font-size:24px;line-height:130%}@media only screen and (min-width:600px){h1.post-title{font-size:28px}}.user-profile-image label{margin:0;width:32px;height:32px;isplay:inline-block}.user-profile-image label img{border-radius:50%}.user-profile-image .profile-name{padding-left:12px;display:flex;align-items:center}.user-profile-image .profile-name a{font-size:14px;font-weight:700;color:#0e0e0f;padding-right:5px}.user-profile-image .seller-level{font-size:14px;color:#62646a}.seller-overview .user-info{border-left:1px solid #c5c6c9;margin:0 10px;padding:0 5px}.seller-overview .user-info .total-rating{border-right:1px solid #c5c6c9;padding-right:10px;margin-right:10px}.seller-overview .orders-in-queue{color:#74767e;font-size:14px}
/*Package Table*/
.table-package table{width:100%;font-size:14px;line-height:21px;box-shadow:0 1px 2px rgb(0 0 0 / 20%);border-radius:4px;background-color:#fff;overflow:hidden;margin-bottom:64px}.table-package table tr th{color:#7a7d85;font-weight:400;text-align:left;padding:12px 16px;white-space:nowrap}.table-package table tr:nth-child(2n+3){background-color:#fafafa}.table-package table .description td,.table-package table tr.package-type td{text-align:left}.table-package table tr.package-type td{padding-top:24px;position:relative}.table-package table tr.description td{padding-bottom:24px;padding-top:15px}.table-package table td{text-align:center;padding-left:16px;padding-right:16px}.table-package table tr.package-type .type{font-size:19px;line-height:26px;display:block;padding-bottom:16px}.table-package table tr.package-type .title{text-transform:uppercase;font-size:12px;padding-bottom:8px}.table-package table tr td.boolean-pricing-factor.included::after{color:#2cdd9b}.table-package table tr td.boolean-pricing-factor::after{content:"\f00c";color:#dadbdd;font-family:FontAwesome}.table-package table tr.select-package td{padding:12px 16px}
.table-package table .delivery-radio-wrapper{display:inline-block;text-align:left;padding:16px 0}
/*Recommended*/
.recommended-slider .slick-arrow{bottom:auto;top:-51px;width:30px;height:30px}
.recommended-slider .slick-arrow.slick-prev{right:32px;left:auto}
.recommended-slider .slick-arrow.slick-next{right: -5px;}
.recommended{position:relative}
.recommended .slick-slide{margin:0 15px}
.recommended .slick-list{margin:0 -15px}
.recommended a img.img-fluid{height:190px;object-fit:cover;margin:auto;width:100%;border-radius:4px 4px 0 0;box-shadow:0 1px 2px rgba(0,0,0,.2)}
.recommended .inner-slider{position:relative;box-shadow:0 1px 2px rgba(0,0,0,.2);border-radius:0 0 4px 4px;background-color:#fff;margin-bottom:5px}
.p-list-two .recommended .inner-slider{margin-bottom:30px}
.recommended .inner-slider .inner-wrapper{padding:15px}
.inner-slider .seller-image{width:48px;height:48px;position:absolute;display:inline-flex;right:15px;top:-24px}
.inner-slider .seller-image img{border-radius:50%;width:48px;height:48px;object-fit:cover;border:5px solid #fff}
.inner-slider .seller-image figure{margin:0;padding:5px 0}
.recommended .inner-slider .inner-wrapper .seller-name{display:flex;flex-flow:column;margin-left:0;line-height:20px}
.recommended .inner-slider .inner-wrapper .seller-name a{color:#0e0e0f;font-size:15px;font-weight:700}
.recommended .inner-slider .inner-wrapper .seller-name .level{color:#b2b2b2;font-weight:300;font-size:13px}
.recommended .inner-slider .inner-wrapper h3{font-size:13px;color:#30302f!important;font-weight:300;margin-top:13px;cursor:pointer;padding:0;line-height:21px}
.recommended .inner-slider .inner-wrapper h3:hover{color:#1fd0b6}
.recommended .inner-slider .inner-wrapper .content-info{padding:12px 0 15px}
.recommended .inner-slider .inner-wrapper .content-info .gig-rating{display:flex;align-items:center;color:#1fd0b6}
.recommended .inner-slider .inner-wrapper .content-info .gig-rating svg{margin-right:5px}
.recommended .inner-slider .inner-wrapper .content-info .gig-rating span{color:#b2b2b2;font-weight:400;margin-left:2px;font-size:12px;margin:0 0 0 3px}
.recommended .inner-slider .inner-wrapper .content-info .gig-rating {display: flex;align-items: center;color: #1fd0b6;}
.recommended .inner-slider .inner-wrapper .content-info .gig-rating .star-rating:before {font-size: 12px;line-height: 15px;padding: 3px 5px;top: 3px;margin-right: 5px;}
.recommended .inner-slider .inner-wrapper .content-info .gig-rating span.star {margin: 0px !important;}
.recommended .inner-slider .inner-wrapper .content-info .gig-rating .star-rating .star.half:after, .gig-rating .star-rating .star:before {font-size: 15px;}
.recommended .inner-slider .inner-wrapper .footer{justify-content:space-between;display:flex;border-top:1px solid #eee;align-items:center;padding:12px 15px;margin:0 -15px -15px}.recommended .inner-slider .inner-wrapper .footer .fa{color:#b2b2b2}.recommended .inner-slider .inner-wrapper .footer a{color:#555;text-transform:uppercase;font-size:12px}.recommended .inner-slider .inner-wrapper .footer a span{font-size:16px}
@media (max-width: 1024px){
    .table-package { display: none;}
    .btn-compare-packages { display: none;}
}
.show-under-768px { display: none !important; }
@media (max-width: 768px) {
    .hide-under-768px { display: none  !important }
    .show-under-768px { display: block  !important;}
}
